@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$textDur: 1050ms;
$waveDur: 2100ms;
.main {
    display: flex;
    height: 100vh;

    .main-box {
        flex:3;
        display: flex;
        flex-direction: column;
        
        .header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1rem;
            &__user {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 12px;
                
                .info {
                    line-height: 1.2;
                    .name {
                        font-weight: bold;
                        font-family: 'Poppins';
                    }
                    .status {
                        font-size: .8rem;
                        position: relative;
                        transform: translateX(15px);
                        &::before {
                            content:'';
                            position: absolute;
                            bottom: 0;
                            width: 10px;
                            height: 10px;
                            border-radius: 50%;
                            background: green;
                            left: 0;
                            transform: translateX(-15px);
                        }
                    }
                }
            }
            &__call {
                background: rgba(97, 94, 240, 0.1);
                border-radius: 8px;
                padding: 5px 10px;
                color:#615EF0;
                font-weight: bold;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            
        }
        .render {
            flex: 1;
            padding: 1rem;
            gap:12px;
            display: flex;
            flex-direction: column;
            gap:12px;
            position: relative;
             .typing {
                position: absolute;
                bottom: 0;
                display: flex;
                gap:5px;
                }
            .message {
                display: flex;
                flex-direction: column;
                &_name {
                display: flex;
                flex-direction: row-reverse;
                color: #615EF0;
                font-size: 12px;
                font-family: 'Poppins';
                }
                &_item {
                display: flex;
                gap:12px;
                flex-direction: row-reverse;
                text-align: right;
                .text {
                    background: #615ef0;
                    width: 100%;
                    border-radius: 12px;
                    padding: .3rem 1rem;
                    font-family: 'Roboto', sans-serif;
                    line-height: 1.2;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    word-wrap: break-word;
                    width: fit-content;
                    color:white;

                    .timestamps {
                        color: orange;
                        font-size: .8rem;
                    }
                    }
                }
                
            }
            .friend {
                .message_name, .message_item {
                    flex-direction: row;
                    text-align: left;
                }
                .message_item {
                    .text {
                        background: #f1f1f1;
                        color: #000;
                        .timestamps {
                        color: #adadad;
                    }
                    }
                }
                
               
            }
        }
        .form {
            display: flex;
            padding: 1rem;
            align-items: center;
            gap:12px;
           
            .send-file {
                color: #999;
                transform: rotate(-45deg);
                font-size: 2.5rem;
            }
            .input {
                display: flex;
                flex: 1;
                border: 2px solid #E2E8F0;
                border-radius: 12px;
                align-items: center;
                justify-content: center;
                &-send {
                    transform: rotate(-45deg);
                    cursor: pointer;
                    color: #615EF0;
                }
            }

        }
    }
    .member {
        flex:1;
        border-left: 1px solid #adadad;
        .header {
                // padding: 1rem;
                min-height: 72px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 1rem;
                font-family: "montserrat";
                .option {
                    background: rgba(97, 94, 240, 0.1);
                    border-radius: 50%;
                    color: #615EF0;
                    font-size: 2rem;
                }
        }
        .member__team {
            padding: .5rem 1rem ;
            font-family: 'Poppins';
            font-weight: bold;
            width: 100%;
            .member-counter {
                background: rgba(97, 94, 240, 0.1);
                border-radius: 50%;
                width: 30px;
                height: 30px;
                display: inline-block;
                text-align: center;
                line-height: 30px;
            }
        }
        .member__list {
            display: flex;
            flex-direction: column;

        }
    }

}




.wave { // wave: width && scale && rotate 
  position: absolute;
  width: 2rem;
  height: 1rem;
  border-radius: 1.1rem;
  background: radial-gradient(ellipse at center, rgba(116, 241, 252, 1) 0%, rgba(50, 230, 255, 1) 73%, rgba(21, 199, 250, 1) 100%);
  display: inline-block;
  animation: wave $waveDur linear infinite;
  will-change: width;
  transform: translateZ(0) scale(0);
}


@keyframes text {
  0% {
    transform: translate3d(0, 0, 0);
  }
  30% {
    transform: translate3d(0, 0, 0);
  }
  45% {
    transform: translate3d(0, -.4rem, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes text-w {
  0% {
    transform: translate3d(0, -.4rem, 0);
  }
  38% {
    transform: translate3d(0, -.4rem, 0);
  }
  69% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, -.4rem, 0);
  }
}
.type {
  
  animation: text $textDur ease-in infinite;
  transform: translatez(0);
  &-w {
    left: 0rem;
    transform: translate3d(0, -2rem, 0);
    animation: text-w $textDur ease-in infinite;
  }
  &-a {
    left: 5.4rem;
    animation-delay: 150ms;
  }
  &-v {
    left: 9.6rem;
    animation-delay: 230ms;
  }
  &-e {
    left: 13rem;
    animation-delay: 310ms;
  }
}




.delay {
  animation-delay: $waveDur / 2;
}


@keyframes coast {
  0% {
    transform: translate3d(0, 0, 0);
  }
  23% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(4rem, 0, 0);
  }
  100% {
    transform: translate3d(4rem, 0, 0);
  }
}

@keyframes wave {
  0% {
    transform: scale(0);
    width: 1rem;
  }
  10% {
    transform: scale(1);
  }
  23% {
    width: 1rem;
  }
  32% {
    width: 2rem;
  }
  42% {
    width: 2rem;
    transform: rotateY(0deg) scale(1, 1);
  }
  51% {
    transform: rotateY(90deg) scale(0.6, 0.2);
  }
  52% {
    transform: rotateY(90deg) scale(0);
  }
  100% {
    transform: rotateY(90deg) scale(0);
  }
}